<head>
  <%= stylesheet_link_tag 'menu_content_type' %>
</head>
<div class="container">
  <div class="row align-items-start">
    <div class="col-3 sticky-top vh-100 p-3">
      <%= link_to image_tag("twitter_icon.png", class: "img-fluid h-25", style: "max-width: 30px; max-height: 30px;"), dashboard_path %>
      <div class="mt-4">
        <%= render partial: "shared/dashboard_menu" %>
      </div>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary rounded-pill mt-3" %>
    </div>
    <div class="col-lg-6">
      <div class="p-2 border">
        <p class="h5"><b>Home</b></p>
        <div class="d-flex justify-content-center align-items-center mt-3">
          <a href="#" class="mx-2 font-weight-bold text-dark">For you</a>
          <span class="text-muted">·</span>
          <a href="#" class="mx-2 font-weight-bold text-muted">Following</a>
        </div>
      </div>
      <%= render partial: "shared/new_tweet_form" %>
      <% @tweets.each do |tweet|%>
      <%= render "shared/tweets/tweet", tweet: tweet %>
      <% end %>
    </div>
    <div class="col-3 sticky-top border">
      One of three columns
    </div>
  </div>
</div>