<div class="border border-top-0 d-flex pt-1">
  <div>
    <% if current_user.avatar.attached? %>
    <%= link_to image_tag(url_for(current_user.avatar), class: "rounded-circle m-2", style: "max-width: 45px; max-height: 45px; min-width: 45px; min-height: 45px;"), dashboard_path %>
    <% else %>
    <%= link_to image_tag("user.png", class: "rounded-circle m-2", style: "max-width: 45px; max-height: 45px;"), dashboard_path %>
    <% end %>
  </div>
  <%= form_with url: tweet_path, method: :post, id: "new_tweet_form",  class: "w-100", data: { controller: "tweet-form" }  do |form| %>
  <div class=" mt-3 mb-3 mx-2">
    <%= form.text_field :text, placeholder: "What's happening?", class: "form-control w-100 border-0 outline-0", style:"font-size: 17px;", required: true %>
    <div class="mt-1 d-flex pt-3 w-100 align-items-center justify-content-between">
      <div>
        <%= image_tag("image.png", class: "mx-1", style: "max-width: 15px; max-height: 15px;") %>
        <%= image_tag("gif.png", class: "mx-1", style: "max-width: 15px; max-height: 15px;") %>
        <%= image_tag("list_2.png", class: "mx-1", style: "max-width: 15px; max-height: 15px;") %>
        <%= image_tag("smile.png", class: "mx-1", style: "max-width: 15px; max-height: 15px;") %>
        <%= image_tag("schedule.png", class: "mx-1", style: "max-width: 15px; max-height: 15px;") %>
        <%= image_tag("location.png", class: "mx-1", style: "max-width: 15px; max-height: 15px;") %>
      </div>
      <div>
        <%= form.submit "Tweet", class:"btn btn-outline-primary tweet-button w-30 h-25"%>
      </div>
    </div>
  </div>
  <% end %>
</div>