<% if user_signed_in? %>

<head>
  <%= stylesheet_link_tag 'left_menu' %>
</head>
<%= link_to image_tag("twitter_icon.png", class: "img-fluid h-25", style: "max-width: 30px; max-height: 30px;"), dashboard_path %>
<div class="mt-4">
  <ul class="list-group list-unstyled text-decoration-none menu">
    <% menu_points = [
    {element_name: "Home", path: dashboard_path, image_name: "home.png"},
    {element_name: "Explore", path: dashboard_path, image_name: "hashtag.png"},
    {element_name: "Notifications", path: dashboard_path, image_name: "bell.png"},
    {element_name: "Messages", path: dashboard_path, image_name: "email.png"},
    {element_name: "Bookmarks", path: dashboard_path, image_name: "bookmark.png"},
    {element_name: "Lists", path: dashboard_path, image_name: "list.png"},
    {element_name: "Profile", path: profile_path, image_name: "user.png"},
    {element_name: "More", path: dashboard_path, image_name: "more.png"}
   ] %>
    <% menu_points.each  do |point| %>
    <%= link_to point[:path], class: "text-decoration-none text-dark" do %>
    <li class="d-flex align-items-center my-2 p-2">
      <%= image_tag(point[:image_name], style: "max-width: 25px; max-height: 20px; margin-left: 3px;") %>
      <p class="h5" style="margin:0px; margin-left: 15px;"><%= point[:element_name] %></p>
    </li>
    <% end %>
    <% end %>
    <%= button_tag "Tweet", class: "btn btn-outline-secondary rounded-pill tweet-button mt-3 w-75" %>
  </ul>
  <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary rounded-pill mt-3" %>
</div>
<% end %>